@import "../../../scss/variables";
footer{
    section{
        background: #F9F9F9;  
        label{
            margin: 30px 0 20px;
            color:$title-color;
            font-weight: $title-fontweight;
            font-size: 16px;
        }
        li{
            list-style: none;
            margin-bottom: 10px;
            
            a{
                color: #3E4A4C;
                font-size: 17px;;
               
            }
            .link-blue-ul{
                color:#2699FB;
                text-decoration: underline;
            }
            .link-blue{
                color:#2699FB;
            }
        }
    
    }
    section:first-child{
        background: #fff;
    }
    section:last-child{
        background: $primary-color;
        color:$secondary-color;
        
    }
    .last-ft{
        padding:15px 0;
        a{
            color:$secondary-color;
        }
        .mg-tw{
            margin-left:20px;
        }
    }
}
.subscriber-wrap{
    background-color: #434B52;
    padding: 55px 0 65px;
    color: $secondary-color;
    h4{
        font-size: 36px;
        font-weight: 900;
        margin-bottom: 5px;
    }
    p{
        font-size: 20px;
        font-weight: 500;
    }
    button{
        background-color: $primary-color;
        color: $secondary-color;
        width: 100%;
        font-size: 17px;
        font-weight: 900;

    }
    input{
        font-size: 17px;
        font-weight: 400;
    }
}

@media only screen   
and (min-width: 768px)   
and (max-width: 1366px)  
{ 

section{
    li{
        margin-bottom: 10px;
        a{
            font-size: 14px;
        }
    }
}
.subscriber-wrap{
    h4{
        font-size: 30px;
        margin-bottom: 20px;
    }
    p{
        font-size: 17px;
    }
    button,input{
        font-size: 15px;
    }
}
}