<footer>
    <div class="subscriber-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <h4>Join our Tribe Today!</h4>
                    <p>We promise we don’t spam & we are offering a 10% discount on your first booking</p>
                </div>
                <div class="col-xl-4">
                    <form>
                          <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter Email Address"/>
                          </div>
                          <div class="form-group">
                            <button class="btn">SUBSCRIBE & SAVE TODAY</button>
                           </div>
                      </form>
                </div>
              </div>
        </div>
    </div>
    <section class="container">
        <label for="indian-destination">POPULAR DESTINATIONS TO RENT A HOLIDAY HOME IN INDIA</label>
        <div class="row">
            <div class="col">
                <ul>
                    <li> <a href="#">Bunglows in Lonavala</a></li>
                    <li> <a href="#">Bunglows in Igatpuri</a></li>
                    <li> <a href="#">Bunglows in Alibaug</a></li>
                    <li> <a href="#">Bunglows in Karjat</a></li>
                    <li> <a href="#">Bunglows in Ahmedabad</a></li>
                </ul>
            </div>
            <div class="col">    
                <ul>
                    <li> <a href="#">Cottages in Manali</a></li>
                    <li> <a href="#">Cottages in Mussoorie</a></li>
                    <li> <a href="#">Cottages in Shimla</a></li>
                    <li> <a href="#">Cottages in Coorg</a></li>
                    <li> <a href="#">Cottages in Wayanad</a></li>
                </ul>
            </div>
            <div class="col">  
                <ul>
                    <li> <a href="#">Luxury Villas in Bangalore</a></li>
                    <li> <a href="#">Luxury Villas in Kochi</a></li>
                    <li> <a href="#">Luxury Villas in Goa</a></li>
                    <li> <a href="#">Luxury Villas in Chennai</a></li>
                    <li> <a href="#">Luxury Villas in Kasauli</a></li>
                </ul>
            </div>
            <div class="col">    
                <ul>
                    <li> <a href="#">Homestay in Ooty</a></li>
                    <li> <a href="#">Homestay in Kodaikanal</a></li>
                    <li> <a href="#">Homestay in Jaipur</a></li>
                    <li> <a href="#">Homestay in Udaipur</a></li>
                    <li> <a href="#">Homestay in Gangtok</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
            <div class="col">
                <label for="rooms">Vista Rooms</label>
                <ul>   
                    <li> <a href="#">About us</a></li>
                    <li> <a href="#">Terms & Services</a></li>
                    <li> <a href="#">Press & Media</a></li>
                    <li> <a href="#">FAQs</a></li>
                    <li> <a href="#">Sitemap Blogs</a></li>
                </ul>
            </div>
            <div class="col">  
                <label for="contact">Contact us</label>     
                <ul>
                    <li> <a href="#">Partner with us</a></li>
                    <li> <a href="#">Connect with us</a></li>
                    <li> <a href="#" class="link-blue-ul">partnershisp@vistarooms.com</a></li>
                    <li> <a href="#" class="link-blue">+91 7676 879879</a></li>
                </ul>
            </div>
            <div class="col">  
                <label for="culture">Vista Culture</label>    
                <ul>
                    <li> <a href="#">Our Team</a></li>
                    <li> <a href="#">Memory videos</a></li>
                    <li> <a href="#">offers</a></li>
                    <li> <a href="#">Events</a></li>
                </ul>
            </div>
            <div class="col">  
                <label for="trending">TRENDING SEARCHES</label>      
                <ul>
                    <li> <a href="#">Best pool villas</a></li>
                    <li> <a href="#">Luxury beach villas</a></li>
                    <li> <a href="#">Mountain view villas</a></li>
                    <li> <a href="#">Best Homestays</a></li>
                    <li> <a href="#">Best Cottages</a></li>
                </ul>
            </div>
        </div>
    </div>
    </section>
    <section class="last-ft">
        <div class="container">
        <div class="row">
            <div class="col-xl-6">© Vista Rooms 2020</div>
            <div class="col-xl-6">
                <a href="#" class="float-right mg-tw"><i class="fab fa-twitter"></i></a>
                <a href="#" class="float-right"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    </section>
</footer>
