@import "../../../scss/variables";
header{
    height: 90px;
    border-bottom: 15px solid $primary-color;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    background-color: $secondary-color;
    z-index: 1;
}
.logo-wrap{
    padding:20px 0;
    .logo{
        display: block;
        width: 108px;
        height: 33px;
        background-image: url('../../../assets/images/logo.svg');
        background-size: cover;
    }
}

nav{
    .navbar-brand{
        color:$primary-color; 
    }
    a{
        color:$primary-color; 
        font-size: 15px;
        font-weight: 400;
        margin-right: 10px;
    }

    .nav-box{
        position: relative;
        padding-right: 20px;

        i{
            position: absolute;
            top:12px;
            right: 4px;
            font-weight: 700;
            font-size: 12px;
        }
    }
    .nav-offers{
        position: relative;
        color:$secondary-color;
        font-size: 13px;
        font-weight: 400;
        margin-right: 10px;
        width: 100px;
        border-radius: 4px;
        background-color: $primary-color;

        i{
            position: absolute;
            top: 12px;
            right: 13px;
        }
        span{
            position: absolute;
            top: -7px;
            right: -4px; 
            width: 16px;
            height: 12px;
            border-radius: 50%;
            border:1px solid #fff;
            background-color: $primary-color;
            padding-top: 1px;
            padding-left: 5px;
            font-size: 6px;
            font-weight: 900;
        }
    }


   
}
@media only screen   
and (min-width: 768px)   
and (max-width: 1366px)  
{ 
    header{
        height: 78px;
        border-bottom: 10px solid $primary-color;
    }
    .logo-wrap{
        padding:15px 0;
    }

}  