<header>
    <div class="container">
    <nav class="navbar navbar-expand-md logo-wrap">
        <a href="#" class="navbar-brand logo"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link nav-box active">Cities <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                <a href="#" class="nav-item nav-link">Prime Member</a>
                <a href="#" class="nav-item nav-link nav-box">Explore <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                <a href="#" class="nav-item nav-link">List Your Property</a>
                <a href="#" class="nav-item nav-link">Need Help?</a>
                <a href="#" class="nav-item nav-link nav-offers">Offers <i class="fas fa-bell"></i> <span class="round-topnumber">2</span></a>
                <a href="#" class="nav-item nav-link"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a href="#" class="nav-item nav-link"><i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
        </div>
    </nav>
    
    </div>
    </header>
