@import "../../../scss/variables";
.container-wrap{
    margin-top:90px;}
.main-content h3{
    margin: 180px auto 90px;
    font-size: 28px;
    line-height: 38px;
    text-transform: capitalize;
    font-weight: 600;
}
.virtual-buttons{
    text-align: center;

    button{
        width: 230px;
        height: 50px;
        background-color:$primary-color;
        color: $secondary-color;
        font-size: 17px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
    }
    button:first-child{
        margin-right: 10px;
    }
}
.home-banner{
    max-width: 1600px;
    height: 620px;
    background: url('../../../assets/images/home-bg.png') center center no-repeat;

}

@media only screen   
and (min-width: 768px)   
and (max-width: 1366px)  
{ 
    .main-content h3{
    margin: 120px auto 45px;
    font-size: 20px;
    line-height: 30px;
    }

    .virtual-buttons{
        button{
    width: 200px;
    height: 42px;
    font-size: 14px;
        }
    }

    
}