<div class="container container-wrap" >
<div class="main-content" *ngIf="isShown">
 
    <h3>Explore Vista Virtual options Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official. cepteur sint occaecat cupidatat non proident, sunt in culpa qui official Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official.</h3>
    <div class="virtual-buttons">
        <button type="button" class="btn" (click)='getLazy1()'>Virtual Occasions</button>
        <button type="button" class="btn" (click)='getLazy2()'>Virtual Offsites</button>
    </div>

    <div class="home-banner" *ngIf="isShown"></div>
</div>
</div>

