<div class="container">
<div class="occ-bg">
    <div class=" v-celebration">
        <p>Vista Virtual > Virtual Celebrations</p>

        <div class="row form_block">
            <div class="col-lg-8">
                <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official cepteur sint occaecat cupidatat </h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official cepteur sint occaecat cupidatat non</p>
            </div>
            <div class="col-lg-4">
                <div class="enquire-form">
                    <form>
                        <h4 for="name">Enquire Now!</h4>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Enter Name*"/>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Enter Mobile Number*"/>
                          </div>
                          <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter Email ID*"/>
                          </div>
                          <div class="form-group">
                            <input type="number" class="form-control" placeholder="Enter Group Size"/>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Location on your mind"/>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Select Time Slot"/>
                          </div>
                        <div class="form-group">
                          <button class="btn" type="submit">enquire</button>
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="occ-info">
    <h4 class="text-center">What is vista virtual celebrations?</h4>
    <p class="text-center">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official, Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui official.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
</div>
</div>
<!-- <div class="grey-container occ-info">
    <div class="container">
        <h4>events we host</h4>
        <ul class="events-group">
            <li class="col"><img src="" alt=""></li>
            <li class="col"><img src="" alt=""></li>
            <li class="col"><img src="" alt=""></li>
            <li class="col"><img src="" alt=""></li>
            <li class="col"><img src="" alt=""></li>
        </ul>
    </div>
</div>
<div class="white-container">
    <div class="container">
        <h4>What's In Store?</h4>
            <div class="row">
                <div class="col-lg-4">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-lg-8">

                </div>
            </div>
    </div>
</div> -->



