@import "../../../scss/variables";
.occ-bg{
   max-width: 1380px;
   max-height: 712px;
   background: url('../../../assets/images/celebrations.png') no-repeat;
   background-position: left 60px;
   background-size: cover;
   p{
    color: #707070;
    font-size: 13px;
}
}
.form_block{
    p{
        color: #3E4A4C;
        font-weight: 400;
        font-size: 20px;  
    }

    h4{
        color: #3E4A4C;
        font-weight: 900;
        font-size: 22px;
    }
}
.enquire-form{
    form{
        background: #f3f3f4 0 0 no-repeat padding-box;
        box-shadow: 0 3px 6px rgba(0,0,0,.16);
        border-radius: 5px;
        padding: 15px;
        max-width: 530px;
        h4{
            color: #3E4A4C;
            font-weight: 900;
            text-align: center;
        }
        button{
            background: $primary-color;
            color: $secondary-color;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
        }
        input{
            font-size: 12px;;
        }
    }
    }
    .occ-info{
        h4{
            color: #3E4A4C;
            font-weight: 900;
            padding: 25px 10px 20px;
            font-size: 20px;
            text-align: center;
            text-transform: capitalize;
        }
        p{
            color: #3E4A4C;
            font-weight: 400;
            font-size: 16px;  
        }
    }
    .grey-container{
        background: #F9F9F9;
        .events-group li{
            list-style: none;
            border:1px solid #ccc;
            border-radius:50%;
        }
    }
@media only screen   
and (min-width: 768px)   
and (max-width: 1366px)  
{ 
    .occ-bg{
        max-width: 900px;
        background-size: cover;
        background-position: left center;
        margin-top: 10px;
    }
}