@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
$fa-font-path: "../../../node_modules/font-awesome/fonts";
 @import '~font-awesome/scss/font-awesome';
@import 'variables';

*{ margin: 0; padding: 0;}
.container{max-width: 1700px;}

body{
    font-family: $font-nunitosans;
}
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1029px)  
{} 

@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px)  
{     .container{max-width: 987px;}
} 
